<div class="card-body p-4">
    <p class="text-right">
        <strong>Acceso de usuario</strong><br>
        <small>¿No tienes cuenta? regístrate <span class="text-primary cursor-pointer">aquí</span></small></p>
    <form [formGroup]="accesoForm" (ngSubmit)="onSubmit()">

        <input id="correo" type="email" formControlName="correo" class="form-control input-lg mb-3 rounded-0"
            placeholder="Correo electrónico" minlength="5" maxlength="50" required>

        <div class="alert alert-dark text-danger" *ngIf="correo.invalid && (correo.dirty || correo.touched)">

            <div class="row" *ngIf="correo.errors.required">
                <div class="col-sm-2">
                    <i class="icofont-warning"></i>
                </div>
                <div class="col-sm-10" *ngIf="correo.errors.required">
                    El email es obligatorio
                </div>
            </div>
            <div class="row" *ngIf="correo.errors.email">
                <div class="col-sm-2">
                    <i class="icofont-warning"></i>
                </div>
                <div class="col-sm-10">
                    Debe ser formato de email
                </div>
            </div>

        </div>

        <input type="password" formControlName="contrasena" class="form-control input-lg mb-3 rounded-0"
            placeholder="Contraseña" required minlength="5" maxlength="10">

        <div class="alert alert-dark text-danger"
            *ngIf="contrasena.invalid && (contrasena.dirty || contrasena.touched)">

            <div class="row" *ngIf="contrasena.errors.required">
                <div class="col-sm-2">
                    <i class="icofont-warning"></i>
                </div>
                <div class="col-sm-10" *ngIf="contrasena.errors.required">
                    El password es obligatorio
                </div>
            </div>
            <div class="row" *ngIf="contrasena.errors.minlength">
                <div class="col-sm-2">
                    <i class="icofont-warning"></i>
                </div>
                <div class="col-sm-10">
                    Al menos 5 caracteres
                </div>
            </div>

        </div>
        <small *ngIf="!accesoForm.valid">Ingrese un correo y contraseña válidos para activar el botón</small>
        <button type="submit" class="btn btn-lg btn-secondary btn-block mb-2"
            [disabled]="!accesoForm.valid">Entrar</button>
    </form>
    <small class="text-primary cursor-pointer">¿Problemas para entrar?</small>
</div>