<div class="card-body p-4">
    <p class="text-right">
        <strong>Acceso de usuario</strong><br>
        <small>¿No tienes cuenta? regístrate <span class="text-primary cursor-pointer">aquí</span></small></p>
    <form [formGroup]="accesoForm" (ngSubmit)="onSubmit()">

        <input id="correo" type="email" formControlName="correo" class="form-control input-lg rounded-0"
            placeholder="Correo electrónico" minlength="5" maxlength="50" required [ngClass]="{ 'is-invalid': correo.touched && correo.errors }">

        <div class="invalid-feedback" *ngIf="correo.invalid && (correo.dirty || correo.touched)">

            <div *ngIf="correo.errors.required">El email es obligatorio</div>
            <div *ngIf="correo.errors.email">Debe ser formato de email</div>

        </div>

        <input type="password" formControlName="contrasena" class="form-control input-lg mt-3  rounded-0"
            placeholder="Contraseña" required minlength="5" maxlength="10" [ngClass]="{ 'is-invalid': contrasena.touched && contrasena.errors }">

        <div class="invalid-feedback mb-3"
            *ngIf="contrasena.invalid && (contrasena.dirty || contrasena.touched)">

            <div *ngIf="contrasena.errors.required">El password es obligatorio</div>
            <div *ngIf="contrasena.errors.minlength">Al menos 5 caracteres</div>

        </div>
        <small *ngIf="!accesoForm.valid">Ingrese un correo y contraseña válidos para activar el botón</small>
        <button type="submit" class="btn btn-lg btn-secondary btn-block mt-2 mb-2"
            [disabled]="!accesoForm.valid">Entrar</button>
    </form>
    <small class="text-primary cursor-pointer">¿Problemas para entrar?</small>
</div>