<div class="row">
    <div class="col">
        <h3 class="text-info">Información</h3>
        <div class="card border-0">
            <div class="card-body">
                <h6>Selecciona un producto</h6>
                <div class="card text-light">
                    <div class="card-body">
                        <button class="btn btn-primary btn-block btn-lg"><i class="icofont-web icofont-1x"></i> webapp -
                            básica</button>

                        <button class="btn btn-primary btn-block btn-lg"><i class="icofont-web icofont-1x"></i> webapp -
                            estándar</button>

                        <button class="btn btn-primary btn-block btn-lg"><i class="icofont-web icofont-1x"></i>
                            e-commerce</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col"></div>
    <div class="col"></div>
</div>