<div id="contenedor" class="container mt-3 rounded pt-5 pl-5 pr-5 pb-1">
	<div class="row">
		<div id="inicio" class="col" (click)="inicio()">
			<h1>cdmx<strong class="text-primary"><b>.dev</b></strong></h1>
		</div>
		<div class="col-2">
			<button class="btn btn-light text-middle" (click)="planes()"><i class="icofont-price icofont-1x"></i>
				<b>planes</b>

			</button>
		</div>
		<div class="col-3">
			<button class="btn btn-block btn-light" (click)="informacion()">
				<i class="icofont-user-suited"></i>
				<b>clientes</b></button>
		</div>
		<div class="col-3">
			<button class="btn btn-light text-primary" (click)="contactanos()">
				<i class="icofont-email"></i>
				<b>info@cdmx.dev</b></button>
		</div>
	</div>
	<div class="container mt-5 mb-5">
		<router-outlet></router-outlet>
	</div>
</div>