
img.main{
    
    z-index: 9999 !important;
}

#inicio{
    cursor: pointer;
}
#contenedor{
    min-height: 40rem;
    background-color: rgba(255, 255, 255, 1);
    -webkit-box-shadow: -1px 9px 11px -6px rgba(0,48,145,1);
    -moz-box-shadow: -1px 9px 11px -6px rgba(0,48,145,1);
    box-shadow: -1px 9px 11px -6px rgba(0,48,145,1);
    z-index: -2 !important;
}
