p{
    font-size: larger;
}
.card{
    background-color: transparent;
    border: 0;
}

.canvas{
    display: block;
    width: 100%;
    height: 400px;
    margin-top: -200px;
    /*background-color: #049DBF;*/
    
}

@media only screen and (max-width: 993px) {
    .canvas{
        margin-top: 0;
    }
  }