<div class="row">
    <div class="col-4">
        <h2 class="text-light"><b>WebApp</b></h2>
        <h3 class="text-info"><strong>$1999 <small>MXN</small></strong></h3>
        <p>Obtenga una inovadora aplicación web por el precio de una económica página web</p>
        <button class="btn btn-lg btn-dark text-light border-0">Saber más</button>
    </div>
    <div class="col-8">
        <div id="canvas" class="canvas" style="margin-top: -200px;">
            <img src="/assets/imagenes/main_01.svg" style="position: relative; z-index: 1;">
        </div>
    </div>
</div>