<div class="row">
    <div class="col-4">
        <h4 class="text-primary">Promoción</h4>
        <h2 class="text-secondary"><b>WebApp</b></h2>
        <p><small>Desde</small></p>
        <h3 class="text-primary"><strong>$1999 MXN</strong></h3>
        <p>Genere o aumente su precencia en la web con nosotros</p>
        <button class="btn btn-lg gradiente text-light border-0">Saber más</button>
    </div>
    <div class="col-5 offset-2">
        <div class="card">
            <!-- <div class="card-header">
                Pruebas
            </div> -->
            <div class="card-body">
                <!-- <div class="custom-bg"></div> -->
                <img src="assets/imagenes/main-01.png" class="img-fluid main" alt="Responsive image">
                <!-- <button class="animate-button">TEST</button> -->

                <!-- <router-outlet></router-outlet> -->
            </div>
        </div>
    </div>
</div>